# Non-Source directories
/build*
/install*
/src/docs/generated

# FORTRAN compile objects
*.o
*.a
*.mod
*.pyc

# Editor Items
.settings
.cproject
.project
.pydevproject
.vscode

# AI
CLAUDE.md
IFLOW.md

# libs
OpenBLAS-0_3_30*
fox-4_1_2*
hdf5-1_14_6*
metis-5_1_0*
arpack-ng-3_9_1/

# cmake
config_cmake.sh

src/doxy_warnings.log
reference
examples/*

app/**/build*
app/**/oftcppin
app/**/*.h5
app/**/*.xml